html {
  color: #6b6b6b;
}

.nav a {
  color: #6b6b6b;
  text-decoration: none;
}

h1 {
  font-family: Lora, serif;
}

.library {
  font-family: Futura, sans-serif;
}

.divna {
  background-color: #e9e3e3;
}

.cup {
  max-height: 200px;
  overflow: hidden;
}

h2 {
  font-family: Futura, sans-serif;
}

.about {
  background-color: #e9e3e3;
}

.btn {
  font-family: Futura, sans-serif;
  background-color: white;
  color: #6b6b6b;
  border: .3rem solid white;
  border-radius: 100px;
}

h3 {
  color: #6b6b6b;
}

.btn:hover {
  background-color: #6b6b6b;
  border: .3rem solid #6b6b6b;
}

a:hover {
  color: white;
}

.contact {
  background-color: #e9e3e3;
}

.con {
  color: #6b6b6b;
}

.faq {
  font-family: Futura, sans-serif;
}

.cn {
  font-family: Futura, sans-serif;
}

.us {
  font-family: Lora, serif;
}

.in {
  background-color: #6b6b6b;
  color: white;
  border: .3rem solid #6b6b6b;
}

.in:hover {
  background-color: white;
  color: #6b6b6b;
  border: .3rem solid #6b6b6b;
}
